@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('lato regular'), local('lato-regular'), url(https://docs.qgis.org/3.4/en/_static/fonts/Lato/lato-regular.woff2) format('woff2');
    font-display: swap; 
  }